# fly.toml app configuration file generated for api-quest on 2026-02-28T01:04:58+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'didikurnia-api-quest'
primary_region = 'sin'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
